<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ClickBite API</title>
</head>
<body>
    <h1>ClickBite API</h1>

    <h2>Bites</h2>
    <ul>
        <li>/bites - Returns all bites</li>
        <li>/bites?id=idsmustbe24charsinlength - Returns bite by ID</li>
        <li>/bitesByUsername - Returns bites based on username</li>

        <li>/deleteBite/id - Removes bite from Database based on ID </li>
        <li>/createBite - Inserts a bite document into the database</li>
    </ul>
</body>
</html>