<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ClickBite API</title>
</head>
<body>
    <h1>ClickBite API</h1>

    <h2>Bites</h2>
    <ul>
        <li>/bites - Returns all bites</li>
    </ul>
</body>
</html>